* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.navigation ul {
  display: flex;
  list-style-type: none;
}

.navigation ul li a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 30vh;
}

.second {
  border: 1px solid black;
  height: 46vh;
}

.container2 {
  border: 1px solid black;
  height: 10vh;
  width: 80vh;
}

.container3 {
  border: 1px solid black;
  height: 5vh;
  width: 80vh;
}


.container4 {
  border: 1px solid black;
  height: 5vh;
  width: 80vh;
}

.container5 {
  border: 1px solid black;
  height: 5vh;
  width: 80vh;
}

.container6 {
  border: 1px solid black;
  height: 20vh;
  width: 80vh;
}

.container10 {
  position: absolute;
  border: 1px solid black;
  height: 24vh;
  width: 75vh;
  margin-left: 557px;
  top: 285px;
}

.container11 {
  position: absolute;
  border: 1px solid black;
  height: 22vh;
  width: 75vh;
  margin-left: 557px;
  top: 450px;
}

.container12 {
  position: absolute;
  border: 1px solid black;
  height: 45vh;
  width: 63vh;
  margin-left: 1080px;
  top: 285px;
}

.third {
  border: 1px solid black;
  height: 46vh;
}


.thirdcon1 {
  position: absolute;
  border: 1px solid black;
  height: 20vh;
  width: 25vh;
  border-radius: 20px;
  top: 650px;
  left: 250px;
}

.thirdcon2 {
  position: absolute;
  border: 1px solid black;
  height: 20vh;
  width: 25vh;
  border-radius: 20px;
  top: 650px;
  left: 670px;
}


.thirdcon3 {
  position: absolute;
  border: 1px solid black;
  height: 20vh;
  width: 25vh;
  border-radius: 20px;
  top: 650px;
  left: 1100px;
}

@media (max-width: 376px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    font-size: 10px;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    width: 5%;
    font-size: 10px;
  }

  nav {
    display: flex;
    box-sizing: border-box;
    padding: 9px;
    justify-content: space-between;
  }

  .navigation ul {
    display: flex;
    list-style-type: none;
  }

  .navigation ul li a {
    text-decoration: none;
    font-size: 9px;
  }


  .second {
    border: 1px solid black;
    height: 23vh;
    font-size: 12px;
    width: 55vh;
  }

  .container2 {
    border: 1px solid black;
    height: 5vh;
    width: 55vh;
  }

  .container3 {
    border: 1px solid black;
    height: 3vh;
    width: 55vh;
  }


  .container4 {
    border: 1px solid black;
    height: 3vh;
    width: 55vh;
  }

  .container5 {
    border: 1px solid black;
    height: 3vh;
    width: 55vh;
  }

  .container6 {
    border: 1px solid black;
    height: 3vh;
    width: 55vh;
  }

  .container10 {
    position: absolute;
    border: 1px solid black;
    height: 18vh;
    width: 55vh;
    margin-left: 0px;
    top: 302px;
    font-size: 14px;
  }

  .container11 {
    position: absolute;
    border: 1px solid black;
    height: 22vh;
    width: 55vh;
    top: 425px;
    margin-left: 0px;
  }



  .container12 {
    position: absolute;
    border: 1px solid black;
    height: 35vh;
    width: 55vh;
    margin-left: 0px;
    top: 575px;
  }

  .third {
    position: absolute;
    border: 1px solid black;
    height: 85vh;
    top: 809px;
    width: 100%;
  }

  .thirdcon1 {
    position: absolute;
    border: 1px solid black;
    height: 20vh;
    width: 24vh;
    border-radius: 20px;
    top: 40px;
    left: 100px;
  }


  .thirdcon2 {
    position: absolute;
    border: 1px solid black;
    height: 20vh;
    width: 24vh;
    border-radius: 20px;
    top: 180px;
    left: 100px;
  }


  .thirdcon3 {
    position: absolute;
    border: 1px solid black;
    height: 20vh;
    width: 24vh;
    border-radius: 20px;
    top: 320px;
    left: 100px;
  }
}